 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 1220px;
}

.u-section-1 .u-text-1 {
  font-size: 6rem;
  text-transform: uppercase;
  margin: 60px auto 0;
}

.u-section-1 .u-image-1 {
  width: 278px;
  height: 278px;
  background-image: url("webpage.jpg");
  background-position: 50% 50%;
  margin: 42px auto 0;
}

.u-section-1 .u-text-2 {
  font-size: 3.4375rem;
  width: 684px;
  margin: 60px auto 0;
}

.u-section-1 .u-text-3 {
  font-size: 1.5rem;
  letter-spacing: 2px;
  font-weight: 600;
  text-transform: uppercase;
  margin: 20px auto 0;
}

.u-section-1 .u-list-1 {
  margin-top: 93px;
  margin-bottom: 0;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: calc(25% - 18.75px) calc(25% - 18.75px) calc(25% - 18.75px) calc(25% - 18.75px);
  min-height: 213px;
  grid-gap: 25px 25px;
}

.u-section-1 .u-container-layout-1 {
  padding: 20px 30px;
}

.u-section-1 .u-text-4 {
  font-weight: 700;
  font-size: 4.5rem;
  text-transform: none;
  margin: 30px 0 0;
}

.u-section-1 .u-text-5 {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 3px;
  font-size: 1.125rem;
  margin: 8px 0 0;
}

.u-section-1 .u-container-layout-2 {
  padding: 20px 30px;
}

.u-section-1 .u-text-6 {
  font-weight: 700;
  font-size: 4.5rem;
  text-transform: none;
  margin: 30px 0 0;
}

.u-section-1 .u-text-7 {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 3px;
  font-size: 1.125rem;
  margin: 8px 0 0;
}

.u-section-1 .u-container-layout-3 {
  padding: 20px 30px;
}

.u-section-1 .u-text-8 {
  font-weight: 700;
  font-size: 4.5rem;
  text-transform: none;
  margin: 30px 0 0;
}

.u-section-1 .u-text-9 {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 3px;
  font-size: 1.125rem;
  margin: 8px 0 0;
}

.u-section-1 .u-container-layout-4 {
  padding: 20px 30px;
}

.u-section-1 .u-text-10 {
  font-weight: 700;
  font-size: 4.5rem;
  text-transform: none;
  margin: 30px 0 0;
}

.u-section-1 .u-text-11 {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 3px;
  font-size: 1.125rem;
  margin: 8px 0 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  letter-spacing: 1px;
  text-shadow: 0 0 0 rgba(0,0,0,0);
  font-size: 1.125rem;
  text-transform: uppercase;
  font-weight: 700;
  border-style: none;
  margin: 60px auto;
  padding: 14px 79px 16px 77px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1170px;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 191px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 42px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1407px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: calc(50% - 12.5px) calc(50% - 12.5px);
    min-height: 431px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 50px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-2 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
    font-size: 3rem;
  }

  .u-section-1 .u-list-1 {
    margin-top: 90px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1619px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
  }

  .u-section-1 .u-text-2 {
    font-size: 2.25rem;
    margin-top: 38px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 42px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-1 .u-text-4 {
    font-size: 3.75rem;
  }

  .u-section-1 .u-text-6 {
    font-size: 3.75rem;
  }

  .u-section-1 .u-text-8 {
    font-size: 3.75rem;
  }

  .u-section-1 .u-text-10 {
    font-size: 3.75rem;
  }
}
